{% extends 'base.html' %}
{% block title %} {{product.title_tag}} {%  endblock %}

{% block content %}

<h1>{{product.title}}</h1><br/>






<div class="container px-4 px-lg-5 mt-5">
    {% if user.is_authenticated %}

    <form action="{% url 'like_post' product.pk %}" method="POST">
        {% csrf_token %}
    
        {% if liked %}
        <button type="submit", preserve-scroll name="post_id", value="{{product.id}}", class="btn btn-danger btn-sm">remove from favourites</button>
        {% else %}
        <button type="submit", name="post_id", preserve-scroll value="{{product.id}}", class="btn btn-primary btn-sm">add to favourites</button>
    
        {% endif %}
        {% else %}
    <a href="{% url 'login' %}"  class="btn btn-primary btn-sm">add to favourites</a>
    
    </form>
    {% endif %}      
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
     
        <div class="col mb-5">
     
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.name}}</h5>
                        <!-- Product price-->
                        {{product.price}}<br>
                        <small class=""><a href="">{{product.subcategory}}</a></small>
                    </div>
                </div>
                <!-- Product actions-->
  

                
            </div>
        </div>
      
    </div>
</div>








<p>{{product.body|safe }}</p>
<br><br/>



<hr>
<br/>


<br/><br/>
<h2>Ratings:</h2>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<hr>











<script>   
     document.addEventListener("DOMContentLoaded", function(event) { 
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
});

window.onbeforeunload = function(e) {
    localStorage.setItem('scrollpos', window.scrollY);
};
</script
{% endblock %}