{% extends 'base.html' %}
{% block title %} login {%  endblock %}

{% block content %}

<h1>{{ user.username}}</h1>
<hr>
<h4>favourites:</h4>
<br>
<br>
<div class="container px-4 px-lg-5 mt-5">

    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
       
        {% for x in favorites %}
        <div class="col mb-5">
     
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{x.image.url}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{x.name}}</h5>
                        <!-- Product price-->
                        {{x.price}}<br>
                        <small class=""><a href="">{{x.subcategory}}</a></small>
                    </div>
                </div>
                <!-- Product actions-->
          <small><a href="{% url 'product' x.id %}">View Product</a></small>

                
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>


<hr>
<h1>Recomended Products based on likes</h1>



{% endblock %}